p{
    font-size: x-large;
    margin-left: 200px;
    color: rgb(239, 246, 246);
}  


#duzy_kwadrat {
    width: 600px;
    height: 1800px;
    background-color: rgb(142, 134, 134);
    border: 5px solid black;
  }
  
  #maly_kwadrat {
    margin-left: 20px;
    margin-top:  20px;
    width: 200px;
    height: 200px;
    
    background-color: rgb(246, 152, 11);
    border: 5px solid rgb(13, 13, 13);
  }
 
 