p{
    color: blue;
    background-color: blueviolet;
    display: inline-block;
    width: 300px;
    height: 40px;


}
#kwadrat{
    height: 40px;
    width: 40px ;
    border: 2px solid black;
    border-color: rgb(234, 11, 163);

}