

.container {
    width: 100%;

    display: flex;

    flex-wrap: wrap;

}

.item {
    font-size: 2em;
    color: rgb(120, 138, 15);
    text-align: center;
}

header {
    flex-basis: 100%;

    height: 20%;
    background-color: red;



}

asideleft {
    background-color: darkgreen;

    flex-basis: 25%;



}

article {
    background-color: deepskyblue;

    flex-basis: 50%;




}



asideright {
    background-color: hotpink;

    flex-basis: 25%;


}


footer {
    background-color: blueviolet;
    flex-basis: 100%;
    height: 20%;



}

@media screen and (max-width: 992px) {
    .container {
        width: 49%;
        header:order 1;
        article:order 2;
        asideright:order 3;
        asideleft:order 4;
        footer:order 5;
    }

    }





@media screen and (max-width: 768px){
.container {
    width:100%;
}
}