
    #duzy_kwadrat {
    padding-top:0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 1000px;
    background-color: #f5f5dd;
    
  }
  
  .maly_kwadrat {
    
    margin-left:auto;
    margin-right: auto;
    margin-top:  40px;
    width: 200px;
    height: 200px;
    background-color:black;
  }

  .kwadrat2{
    opacity: 0.6;
  }

  .kwadrat3{
    opacity: 0.3;
  }
  .kwadrat4{
    opacity: 1;
    margin-left: auto;
  }