.px_length {
    width: 200px;
    height: 200px;
    background-color: red;
    color: blueviolet;
    border: 5px solid black;
  }
  
  .em_length {
    width: 20em;
    height: 20em;
    background-color: white;
    color: red;
    border: 1px solid black;
  }
  